*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    display: flex;
    background-color: black;
    justify-content: space-between;
}

.menu-listmenu{
    list-style-type: none;
    display: flex;
    width: 500px;

    align-items: center;
    background-color: black;
    justify-content: space-evenly;
}

.menu-listmenu__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    
    
}
.menu-listmenu__item:hover{
    background-color: #6D6866 ;
}

.menu-listmenu__link{
    color: #F0E7E4;
    text-decoration: none;
    font-size: 20px;
}
/* ----------------------------------Header------------- */

.indexheader{
    background-color: #D5120F;
    display: flex;
    height:300px;
    flex-direction: column;
    align-items: center;
}

.indexheader__titlecontainer{
    background-color: black;
    margin-top: 20px;
    width: 60%;
}

.indexheader__title{
    color:#F0E7E4;
    font-size: 60px;
    text-align: center;
}

.indexheader__textcontainer{
    margin-top: 20px;
    display: flex;
    height: 50%;
    width: 60%;
    background-color: #F0E7E4;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 3px solid black;
}

.indexheader__text{
    font-size: 20px;
    color: black;
    
}


